body {
  color: #40514e;
  text-align: center;
  margin: 0;
}

.top-container {
  position: relative;
}

.middle-container {
  margin: 0px 100px;
}

.bottom-container div {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}


.flex-item {
  flex: 1;
  max-width: 400px;
  gap: 100px;
}

h1 {
  font-weight: normal;
  font-family: "Radley", serif;
  font-size: 5rem;
  margin-bottom: 30px;
}

h2 {
  font-weight: bold;
  font-family: "Radley", serif;
}

h3 {
  font-weight: normal;
  font-family: "Carlito", sans-serif;
}

p {
  font-family: "Carlito", sans-serif;
  font-size: 2rem;
}

.intro {
  width: 50%;
  margin: auto;
}

span {
  color: #9b4819;
}

.logo-img {
  margin: 50px 0px;
}

.photo {
  float: right;
  height: 300px;
  margin-left: 30px;
}

.brown {
  background-color: #9b4819;
}

.white {
  color: #f4f1e8;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.phone-logo,
.email-logo {
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 20px;
}

